In [3]:
import pandas as pd
import numpy as np
import io
from matplotlib import pyplot as plt

In [22]:
df_error_average_response_time.reset_index(drop=True,inplace=True)
df_error_average_response_time

           mean  count
0    217.900000     10
1    309.111111     18
2    240.666667     15
3    285.909091     22
4    252.541667     24
5    288.500000     18
6    281.523810     21
7    255.947368     19
8    278.333333     15
9    284.461538     13
10   254.913043     23
11   283.250000     12
12   209.300000     20
13   294.722222     18
14   280.636364     11
15   220.235294     17
16   238.772727     22
17   277.565217     23
18   273.541667     24
19   244.631579     19
20   188.230769     13
21   263.944444     18
22   225.812500     16
23   289.850000     20
24   272.238095     21
25   308.733333     15
26   251.047619     21
27   315.300000     20
28   300.952381     21
29   236.333333     18
..          ...    ...
91   244.761905     21
92   303.750000     20
93   262.529412     17
94   237.440000     25
95   249.500000     28
96   240.789474     19
97   243.037037     27
98   237.400000     20
99   269.500000     20
100  321.944444     18
101  273.047619     21
102  267.380952     21
103  264.500000     18
104  286.947368     19
105  303.523810     21
106  255.764706     17
107  298.000000     15
108  232.055556     18
109  247.611111     18
110  245.055556     18
111  244.944444     18
112  213.611111     18
113  312.714286     21
114  286.500000     24
115  257.000000     16
116  283.812500     16
117  233.421053     19
118  276.375000     24
119  265.200000     20
120  311.875000      8

[121 rows x 2 columns]